<a href="https://colab.research.google.com/github/007vipintiwari/Decision-Tree/blob/main/DecisionTreeClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount("/content/gdrive",force_remount = True)

Mounted at /content/gdrive

In [3]:
data = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/decisontree.csv')

In [4]:
from sklearn.preprocessing import LabelEncoder
y=data.iloc[:,5]
LabelEncoder_x = LabelEncoder()
data = data.apply(LabelEncoder().fit_transform)
data

    RID   age  income  student  credit_rating  class:buys_computer
0      0    2       0        0              1                    0
1      1    2       0        0              0                    0
2      2    0       0        0              1                    1
3      3    1       2        0              1                    1
4      4    1       1        1              1                    1
5      5    1       1        1              0                    0
6      6    0       1        1              0                    1
7      7    2       2        0              1                    0
8      8    2       1        1              1                    1
9      9    1       2        1              1                    1
10    10    2       2        1              0                    1
11    11    0       2        0              0                    1
12    12    0       0        1              1                    1
13    13    1       2        0              0                    0

In [5]:
data.rename(columns={'class:buys_computer': 'buys_computer'}, inplace=True)

In [7]:
data

    RID   age  income  student  credit_rating  buys_computer
0      0    2       0        0              1              0
1      1    2       0        0              0              0
2      2    0       0        0              1              1
3      3    1       2        0              1              1
4      4    1       1        1              1              1
5      5    1       1        1              0              0
6      6    0       1        1              0              1
7      7    2       2        0              1              0
8      8    2       1        1              1              1
9      9    1       2        1              1              1
10    10    2       2        1              0              1
11    11    0       2        0              0              1
12    12    0       0        1              1              1
13    13    1       2        0              0              0

In [6]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(data.iloc[:,1:5],data['buys_computer'],test_size = 0.4)

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
dtc = DecisionTreeClassifier()

In [12]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
y_pred = dtc.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix

In [15]:
print(y_test)

0     0
10    1
2     1
9     1
7     0
5     0
Name: buys_computer, dtype: int64

In [16]:
y_pred

array([1, 0, 1, 1, 1, 0])

In [17]:
confusion_matrix(y_test,y_pred)

array([[1, 2],
       [1, 2]])